.total_cost_wraper{
    color: aliceblue;
}
.discont_btn{
    text-align: center;
}
.discont_input{
    border: 1px solid black;
}
.true_promo_code{
    border: 3px solid greenyellow;
}
.false_promo_code{
    border: 3px solid red;
}
.total_cost_wraper{
    font-size: 1.5rem;
    color: #646cff;
}
.valid_total_cost{
    color: #64ff8b;
}
.invalid_total_cost{
    font-size: 1.5rem;
    color: #fb8500;
    text-decoration: line-through;
}
.cost_promo_wraper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 75vh;
}
.discont_wraper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    input{
        max-width: 400px;
        min-width: 200px;
        width: 40vw;
    }
}
.empty_basket_message_wraper{
    font-size: 1.5rem;
    width: 50vw;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #4b3636;
}
.empty_basket_main_text{
    font-size: 2rem;
}

@media screen and (max-width: 400px) {
    .cost_promo_wraper{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        top: 70vh;
    }
}