.total_cost_wraper{
    color: aliceblue;
}
.discont_btn{
    text-align: center;
}
.discont_input{
    border: 1px solid black;
}
.true_promo_code{
    border: 3px solid greenyellow;
}
.false_promo_code{
    border: 3px solid red;
}