.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

.content {
  width: 100%;
  padding: 20px 0;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}

.no-scroll {
  overflow: hidden;
}
